In [1]:
exist_building_height = [828, 678.9, 632, 601, 599.1, 554.5, 541.3, 530, 530, 527.7, 
                         508, 492, 484, 475.6, 472.4, 462, 461.2, 458.2, 453.6, 452.1, 
                         451.9, 451.9, 450, 450, 443.1, 442.1, 441.8, 438.6, 435.3, 427, 
                         425.7, 425, 423.2, 422.6, 420.5, 413.4, 412.6, 412, 411.6, 402.7, 
                         401, 392.5, 392.4, 390.2, 388.3, 388.1, 387.1, 385, 384, 383.2]
exist_building_country = ['UAE', 'Malaysia', 'China', 'Saudi Arabia', 'China', 'South Korea', 'US', 'China', 'China', 'China', 
                          'Taiwan', 'China', 'China', 'China', 'US', 'Russia', 'Vietnam', 'China', 'Malaysia', 'China', 
                          'Malaysia', 'Malaysia', 'China', 'China', 'China', 'US', 'China', 'China', 'US', 'US', 
                          'US', 'UAE', 'US', 'China', 'China', 'UAE', 'Kuwait', 'China', 'South Korea', 'China', 
                          'China', 'China', 'UAE', 'China', 'China', 'China', 'US', 'Saudi Arabia', 'China', 'China']

In [2]:
uc_building_height = [1000, 597, 500, 499.8, 499.2, 498.8, 498, 498, 488.9, 475, 
                      475, 470, 470, 468, 465, 450, 450, 436.1, 428, 428, 
                      426, 423, 409, 407, 400, 400, 399.8, 394, 393.9, 393.8, 
                      390, 388.3, 387.4, 385.8, 384]
uc_building_country = ['Saudi Arabia', 'China', 'Saudi Arabia', 'China', 'China', 'China', 'China', 'China', 'China', 'China', 
                       'China', 'China', 'China', 'China', 'China', 'China', 'China', 'Thailand', 'China', 'US', 
                       'China', 'China', 'China', 'Saudi Arabia', 'China', 'China', 'China', 'Egypt', 'China', 'China', 
                       'China', 'China', 'China', 'Ivory Coast', 'Indonesia']

In [4]:
# Combine the lists of building heights and countries
combined_heights = exist_building_height + uc_building_height
combined_countries = exist_building_country + uc_building_country

# Pair building heights with countries
combined_data = list(zip(combined_heights, combined_countries))

# Sort the pairs based on building heights
combined_data.sort(reverse=True)

# Separate the sorted pairs back into separate lists
sorted_combined_heights, sorted_combined_countries = zip(*combined_data)

In [7]:
for i in range(50):
    print('rank', i+1)
    print(sorted_combined_heights[i], sorted_combined_countries[i], end='\n___________\n\n')

rank 1
1000 Saudi Arabia
___________

rank 2
828 UAE
___________

rank 3
678.9 Malaysia
___________

rank 4
632 China
___________

rank 5
601 Saudi Arabia
___________

rank 6
599.1 China
___________

rank 7
597 China
___________

rank 8
554.5 South Korea
___________

rank 9
541.3 US
___________

rank 10
530 China
___________

rank 11
530 China
___________

rank 12
527.7 China
___________

rank 13
508 Taiwan
___________

rank 14
500 Saudi Arabia
___________

rank 15
499.8 China
___________

rank 16
499.2 China
___________

rank 17
498.8 China
___________

rank 18
498 China
___________

rank 19
498 China
___________

rank 20
492 China
___________

rank 21
488.9 China
___________

rank 22
484 China
___________

rank 23
475.6 China
___________

rank 24
475 China
___________

rank 25
475 China
___________

rank 26
472.4 US
___________

rank 27
470 China
___________

rank 28
470 China
___________

rank 29
468 China
___________

rank 30
465 China
___________

rank 31
462 Russia
___________

rank 32
461.2 Vietnam
___________

rank 33
458.2 China
___________

rank 34
453.6 Malaysia
___________

rank 35
452.1 China
___________

rank 36
451.9 Malaysia
___________

rank 37
451.9 Malaysia
___________

rank 38
450 China
___________

rank 39
450 China
___________

rank 40
450 China
___________

rank 41
450 China
___________

rank 42
443.1 China
___________

rank 43
442.1 US
___________

rank 44
441.8 China
___________

rank 45
438.6 China
___________

rank 46
436.1 Thailand
___________

rank 47
435.3 US
___________

rank 48
428 US
___________

rank 49
428 China
___________

rank 50
427 US
___________

In [8]:
count_china = 0
for i in range(50):
    if sorted_combined_countries[i] == 'China':
        count_china = count_china + 1
    if i == 4:
        print('top5', count_china)
    elif i == 9:
        print('top10', count_china)
    elif i == 14:
        print('top15', count_china)
    elif i == 19:
        print('top20', count_china)
    elif i == 24:
        print('top25', count_china)
    elif i == 29:
        print('top30', count_china)
    elif i == 34:
        print('top35', count_china)
    elif i == 39:
        print('top40', count_china)
    elif i == 44:
        print('top45', count_china)
    elif i == 49:
        print('top50', count_china)

top5 1
top10 4
top15 7
top20 12
top25 17
top30 21
top35 23
top40 26
top45 30
top50 31